body {
    padding-top: 2em;
    background-color: gray;
}
footer {
    text-align: center;
    padding-top: 2em;
}
hr {
    width: 80%
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
@counter-style finger {
    system: cyclic;
    symbols: ☛;
    suffix: " ";
  }
  
ul {
    list-style: finger;
} 
li:first-child {
    list-style-type: none;
}
span {
    color: red;
    font-weight: 900;
}
a {
    text-decoration: none;
}
img {
    width: 50px;
    height: 50px
}
button {
    width: 200px;
    height: 40px
}
.container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color: #C1CDCD;
}
.explaination {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color: #C1CDCD;
}
.shelfLife {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color: #C1CDCD;
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#copy {
    font-size: 1.5em
}